.category__hero {
  padding: calc(60vw/14.4) calc(150vw/14.4);
  background-color: #F4F4F3;
}

.category__title {

  font-weight: 500;
  font-size: calc(44vw/14.4);
  text-align: center;
}

.category__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(60vw/14.4) calc(150vw/14.4);
  gap: calc(60vw/14.4);
}

.category__search__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(40vw/14.4);
}

.category__search_description {

  font-weight: 400;
  font-size: calc(18vw/14.4);
  text-align: center;
}

.category__search_mark {

  font-weight: 400;
  font-size: calc(16vw/14.4);
  text-align: center;
  color: #6D758F;
}

.assortment {
  display: flex;
  flex-direction: column;
  padding: calc(60vw/14.4) calc(150vw/14.4);
  /* align-items: center; */
  gap: calc(60vw/14.4);
}

.assortment_row {
  flex-direction: row;
}

.assortment.assortment_row {
  gap: calc(20vw/14.4);
}

.assortment__wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: calc(60vw/14.4);
}

.assortment__inner {
  display: flex;
  flex-direction: column;
  gap: calc(18vw/14.4);
}

.assortment ul li {
  list-style: disc;
}

.assortment ol li {
  list-style: number;
}

.assortment ul,
.assortment ol {
  padding-left: calc(24vw/14.4);
}


.assortment p,
.assortment ul,
.assortment li,
.assortment ol {

  font-weight: 400;
  font-size: calc(18vw/14.4);
}

.feedback {
  padding: calc(60vw/14.4) calc(150vw/14.4);
  display: flex;
  flex-direction: row;
  gap: calc(40vw/14.4);
}

.feedback__inner {
  display: flex;
  flex-direction: column;
  padding: calc(38vw/14.4) 0;
  gap: calc(60vw/14.4);
}

.feedback__content {
  display: flex;
  flex-direction: column;
}

.feedback__content ul li {
  list-style: disc;
}

.feedback__content ol li {
  list-style: number;
}

.feedback__content ul,
.feedback__content ol {
  padding-left: calc(24vw/14.4);
}


.feedback__content p,
.feedback__content ul,
.feedback__content li,
.feedback__content ol {

  font-weight: 400;
  font-size: calc(18vw/14.4);
}

@media screen and (max-width: 767px) {
  .category__hero {
    padding: calc(30vw/3.9) calc(24vw/3.9);
  }

  .category__title {
    font-size: calc(28vw/3.9);
  }

  .category__search {
    padding: calc(60vw/3.9) calc(24vw/3.9);
    gap: calc(40vw/3.9);
  }

  .category__search__inner {
    gap: calc(40vw/3.9);
  }

  .category__search_description {
    font-size: calc(14vw/3.9);
  }

  .category__search_mark {
    font-size: calc(14vw/3.9);
  }

  .assortment {
    padding: calc(40vw/3.9) calc(24vw/3.9);
    /* align-items: center; */
    gap: calc(40vw/3.9);
  }

  .assortment_row {
    flex-direction: column;
  }

  .assortment.assortment_row {
    gap: calc(40vw/3.9);
  }

  .assortment__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: calc(40vw/3.9);
  }

  .assortment__inner {
    display: flex;
    flex-direction: column;
    gap: calc(18vw/3.9);
  }

  .assortment ul li {
    list-style: disc;
  }

  .assortment ol li {
    list-style: number;
  }

  .assortment ul,
  .assortment ol {
    padding-left: calc(24vw/3.9);
  }


  .assortment p,
  .assortment ul,
  .assortment li,
  .assortment ol {

    font-weight: 400;
    font-size: calc(14vw/3.9);
  }

  .feedback {
    padding: calc(40vw/3.9) calc(24vw/3.9);
    display: flex;
    flex-direction: column;
    gap: calc(40vw/3.9);
  }

  .feedback__inner {
    display: flex;
    flex-direction: column;
    padding: calc(38vw/3.9) 0;
    gap: calc(40vw/3.9);
  }

  .feedback__content {
    display: flex;
    flex-direction: column;
  }

  .feedback__content ul li {
    list-style: disc;
  }

  .feedback__content ol li {
    list-style: number;
  }

  .feedback__content ul,
  .feedback__content ol {
    padding-left: calc(24vw/3.9);
  }


  .feedback__content p,
  .feedback__content ul,
  .feedback__content li,
  .feedback__content ol {

    font-weight: 400;
    font-size: calc(14vw/3.9);
  }
}