.footer {
   display: flex;
     flex-direction: column;
     background-color: #141313;
     padding: calc(100vw/14.4) calc(150vw/14.4);
     width: 100vw;
     align-items: left;
     justify-content: space-between;
     gap: calc(60vw/14.4);
 }

 .footer__item {
   display: flex;
   justify-content: space-between;
 }

 .footer__item.footer__item_bottom {
   align-items: end;
 }

 .footer__nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   /* width: auto; */
   flex-grow: 2;
   max-width: calc(747vw/14.4);
 }

 .phones {
   display: flex;
   flex-direction: column;
   border-left: calc(2vw/14.4) solid #BCA134;
   /* align-items: center; */
   justify-content: center;

   padding-left: calc(20vw/14.4);
   gap: calc(20vw/14.4);
 }

 .phones__item {
   font-family: var(--font-gilroy), sans-serif;
   font-weight: 500;
   font-size: calc(32vw/14.4);
   color: #FFFFFF;
   text-decoration: none;
 }

 .footer__inner {
   display: flex;
   flex-direction: row;
   gap: calc(41vw/14.4);
 }

 .footer__privacy {
   font-family: var(--font-gilroy), sans-serif;
   font-weight: 500;
   font-size: calc(16vw/14.4);
   color: #FFFFFF99;
   text-decoration: underline;
 }

 .footer__contacts {
   display: flex;
   flex-direction: column;
   gap: calc(8vw/14.4);
 }

 .footer__contact {
   display: flex;
   align-items: center;
   gap: calc(21vw/14.4);
   font-family: var(--font-gilroy), sans-serif;
   font-weight: 500;
   font-size: calc(20vw/14.4);
   vertical-align: middle;
   text-decoration: none;
   color: #FFFFFF;
   max-width: calc(362vw/14.4);
   line-height: 105%;
   letter-spacing: -2%;
 }

 .footer__contact img {
   width: calc(32vw/14.4);
   height: calc(32vw/14.4);
 }

 .footer__socials {
   display: flex;
   flex-direction: column;
   gap: calc(20vw/14.4);
   margin-left: calc(-3vw/14.4);
 }

 .footer__socials_title {
   font-family: var(--font-gilroy), sans-serif;
   font-weight: 500;
   font-size: calc(18vw/14.4);
   color: #FFFFFF;
 }

 .footer__socials_inner {
   display: flex;
   flex-direction: row;
   gap: calc(20vw/14.4);
 }

 .footer__social img {
   width: calc(32vw/14.4);
   height: calc(32vw/14.4);
 }

 .footer__menu {
  display: grid;
  min-width: max-content;
  width: 100%;
  background: #141313;
  color: #ffffff;
  gap: calc(20vw/14.4);
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  /* Автоматическое размещение в колонку */
  grid-auto-flow: column;
  justify-content: space-between;
}

.footer__menu_item {
  position: relative;
}

.footer__menu_link {
  display: flex;
  /* width: 100%; */
  line-height: 1.2vw;
  gap: .95vw;
  vertical-align: middle;
  align-items: center;
  padding:  .5vw .68vw;
  font-size: calc(18vw/14.4);
  font-family: var(--font-gilroy), sans-serif;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: .35vw .35vw 0 0;
  background: transparent;
  /* transition: background-color 0.2s linear; */
  text-decoration: none;
}

.footer__menu_link:hover {
  color: #C9AC37;

}

 @media screen and (max-width: 767px) {
  .footer {
    display: flex;
      flex-direction: column;
      background-color: #141313;
      padding: calc(100vw/3.9) calc(24vw/3.9);
      width: 100vw;
      align-items: left;
      justify-content: space-between;
      gap: calc(60vw/3.9);
  }

  .footer__item {
    flex-direction: column;
    gap: calc(60vw/3.9);
  }
  .footer__item.footer__item_top {
    flex-direction: column-reverse;
  }

  .footer__item.footer__item_bottom {
    align-items: start;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: auto; */
    flex-grow: 2;
    max-width: calc(747vw/3.9);
  }

  .footer__nav_item {
    flex-direction: row;

  }

  .footer__nav_item a {
    font-size: calc(14vw/3.9);
  }

  .phones {
    display: flex;
    flex-direction: column;
    border-left: calc(2vw/3.9) solid #BCA134;
    /* align-items: center; */
    justify-content: center;

    padding-left: calc(20vw/3.9);
    gap: calc(20vw/3.9);
  }

  .phones__item {
    font-family: var(--font-gilroy), sans-serif;
    font-weight: 500;
    font-size: calc(22vw/3.9);
    color: #FFFFFF;
    text-decoration: none;
  }

  .footer__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: calc(30vw/3.9); */
    gap: 0;
  }

  .footer__privacy {
    font-family: var(--font-gilroy), sans-serif;
    font-weight: 500;
    font-size: calc(14vw/3.9);
    color: #FFFFFF99;
    text-decoration: underline;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    gap: calc(8vw/3.9);
  }

  .footer__contact {
    display: flex;
    align-items: center;
    gap: calc(10vw/3.9);
    font-family: var(--font-gilroy), sans-serif;
    font-weight: 500;
    font-size: calc(14vw/3.9);
    vertical-align: middle;
    text-decoration: none;
    color: #FFFFFF;
    max-width: calc(214vw/3.9);
    line-height: 105%;
    letter-spacing: -2%;
  }

  .footer__contact img {
    width: calc(25vw/3.9)!important;
    height: calc(25vw/3.9)!important;
  }

  .footer__socials {
    display: flex;
    flex-direction: column;
    gap: calc(10vw/3.9);
    margin-left: 0;
  }

  .footer__socials_title {
    font-family: var(--font-gilroy), sans-serif;
    font-weight: 500;
    font-size: calc(14vw/3.9);
    color: #FFFFFF;
  }

  .footer__socials_inner {
    display: flex;
    flex-direction: row;
    gap: calc(20vw/3.9);
  }

  .footer__social img {
    width: calc(20vw/3.9)!important;
    height: calc(20vw/3.9)!important;
  }

  .footer__menu {
    display: grid;
    min-width: max-content;
    width: 100%;
    background: #141313;
    color: #ffffff;
    gap: calc(15vw/3.9);
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    /* Автоматическое размещение в колонку */
    /* grid-auto-flow: column; */
    justify-content: space-between;
  }

  .footer__menu_item {
    position: relative;
  }

  .footer__menu_link {
    display: flex;
    /* width: 100%; */
    line-height: 120%;
    gap: .95vw;
    vertical-align: middle;
    align-items: center;
    padding:  .5vw .68vw;
    font-size: calc(14vw/3.9);
    font-family: var(--font-gilroy), sans-serif;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: .35vw .35vw 0 0;
    background: transparent;
    /* transition: background-color 0.2s linear; */
    text-decoration: none;
  }

 }