.filter {
    /* padding: 16px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    /* margin-bottom: 24px; */
    /* background: #f9f9f9; */
    display: flex;
    flex-direction: column;
    gap: calc(30vw/14.4);
    margin-bottom: calc(40vw/14.4);
  }

  .title {
    /* font-weight: bold;
    margin-bottom: 12px; */
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(28vw/14.4);
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;

  }

  .filters {
    display: flex;
    flex-direction: column;
    gap: calc(16vw/14.4);
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: calc(21vw/14.4);

  }

  .checkbox__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .checkbox__control {
    position: relative;
    display: inline-block;
    width: calc(30vw/14.4);
    height: calc(30vw/14.4);
    border: calc(1vw/14.4) solid #000000;
    border-radius: calc(4vw/14.4);
    transition: all 0.2s;
  }

  .checkbox__input:checked + .checkbox__control {
    /* background-color: #3b82f6;
    border-color: #3b82f6; */
  }

  .checkbox__input:focus + .checkbox__control {
    /* box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3); */
  }

  .checkbox__control::after {
    content: '';
    position: absolute;
    display: none;
    left: calc(10vw/14.4);
    top: calc(4vw/14.4);
    width: calc(7vw/14.4);
    height: calc(13vw/14.4);
    border: solid #0F1729;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .checkbox__input:checked + .checkbox__control::after {
    display: block;
  }

  .checkbox__label {
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(20vw/14.4);
    color: #253B23;

  }