.faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(60vw/14.4) 10.5vw;
    gap: calc(60vw/14.4);
}

.faqs__inner {

}

.faq {

}

.faq__inner {

}

.faq__question {

}

.faq__toggle {

}

.faq__answer {

}