.cart__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(367vw/14.4);
    height: calc(138vw/14.4);
    gap: calc(10vw/14.4);
    border-radius: calc(10vw/14.4);
    padding: calc(30vw/14.4);
    background: #F4F4F3;
    margin-top: calc(5vw/14.4);
    /* cursor: pointer; */
}

.cart__button_enabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(54vw/14.4);
    background: #C9AC37;
    border: none;
    border-radius: calc(10vw/14.4);
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(16vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    gap: calc(10vw/14.4);
    cursor: pointer;
}

.cart__button_enabled:disabled {
    cursor: default;
}

.cart__button_disabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(54vw/14.4);
    background: #C9AC37;
    border: none;
    border-radius: calc(10vw/14.4);
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(16vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    gap: calc(10vw/14.4);
}

.cart__button input {
    text-align: center;
    width: calc(116vw/14.4);
    height: calc(54vw/14.4);
    gap: calc(10vw/14.4);
    border-radius: calc(10vw/14.4);
    border: calc(1vw/14.4) solid #E1E4ED;

    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(24vw/14.4);
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
    outline: none;

}

/* Chrome, Safari, Edge, Opera */
.cart__button input::-webkit-outer-spin-button,
.cart__button input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.cart__button input[type=number] {
  -moz-appearance: textfield;
}

.cart__icon {
    width: calc(25vw/14.4);
    height: calc(25vw/14.4);
}

@media screen and (max-width: 767px) {

    .cart__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: calc(343vw/3.9);
        height: calc(54vw/3.9);
        gap: calc(10vw/3.9);
        border-radius: calc(10vw/3.9);
        padding: 0;
        background: #fff;
        margin-top: calc(5vw/3.9);
        /* cursor: pointer; */
    }

    .cart__button_enabled {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(54vw/3.9);
        background: #C9AC37;
        border: none;
        border-radius: calc(10vw/3.9);
        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(16vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        gap: calc(10vw/3.9);
        cursor: pointer;
    }

    .cart__button_enabled:disabled {
        cursor: default;
    }

    .cart__button_disabled {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(54vw/3.9);
        background: #C9AC37;
        border: none;
        border-radius: calc(10vw/3.9);
        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(16vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        gap: calc(10vw/3.9);
    }

    .cart__button input {
        text-align: center;
        width: calc(116vw/3.9);
        height: calc(54vw/3.9);
        gap: calc(10vw/3.9);
        border-radius: calc(10vw/3.9);
        border: calc(1vw/3.9) solid #E1E4ED;

        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(24vw/3.9);
        line-height: 130%;
        letter-spacing: 0%;
        vertical-align: middle;
        outline: none;

    }

    /* Chrome, Safari, Edge, Opera */
    .cart__button input::-webkit-outer-spin-button,
    .cart__button input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    .cart__button input[type=number] {
    -moz-appearance: textfield;
    }

    .cart__icon {
        width: calc(25vw/3.9);
        height: calc(25vw/3.9);
    }
}