.search {
    display: flex;
    margin: 0;
    /* border: 1px */
    height: calc(60vw/14.4);
    box-shadow: 0px 4px 15px 0px #00000026;
    border-radius: calc(10vw/14.4);
}

.search__input {
    margin: 0;
    font-size: calc(16vw/14.4);
    padding: calc(20vw/14.4) calc(40vw/14.4);
    width: calc(511vw/14.4);
    /* border: none; */
    border-width: calc(1vw/14.4) 0 calc(1vw/14.4) calc(1vw/14.4);
    border-style: solid;
    border-color: #C6C6C6;
    border-radius: calc(10vw/14.4) 0 0 calc(10vw/14.4);
    outline:none;
}

.search__button {
    display: flex;
    align-items: center;
    border: none;
    padding: 0 calc(27.5vw/14.4);
    border-width: calc(1vw/14.4) calc(1vw/14.4) calc(1vw/14.4) 0;
    border-style: solid;
    border-color: #BCA13480;
    /* border-color: red; */
    border-radius: 0 calc(10vw/14.4) calc(10vw/14.4) 0;
    background-color: #C9AC37;
    height: calc(60vw/14.4);
}

.search__icon {
    width: calc(26vw/14.4);
    height: calc(26vw/14.4);
}

.search__input::-webkit-search-decoration,
.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-results-button,
.search__input::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

@media screen and (max-width: 767px) {
    .search {
        display: flex;
        margin: 0;
        /* border: 1px */
        height: calc(44vw/3.9);
        box-shadow: 0px 4px 15px 0px #00000026;
        border-radius: calc(10vw/3.9);
      }

      .search__input {
        margin: 0;
        font-size: calc(14vw/3.9);
        padding: calc(13.5vw/3.9) calc(20vw/3.9);
        width: calc(225vw/3.9);
        /* border: none; */
        border-width: calc(1vw/3.9) 0 calc(1vw/3.9) calc(1vw/3.9);
        border-style: solid;
        border-color: #C6C6C6;
        border-radius: calc(10vw/3.9) 0 0 calc(10vw/3.9);
        outline:none;
      }

      .search__button {
        display: flex;
        align-items: center;
        border: none;
        padding: 0 calc(16.5vw/3.9);
        border-width: calc(1vw/3.9) calc(1vw/3.9) calc(1vw/3.9) 0;
        border-style: solid;
        border-color: #BCA13480;
        /* border-color: red; */
        border-radius: 0 calc(10vw/3.9) calc(10vw/3.9) 0;
        background-color: #C9AC37;
        height: calc(44vw/3.9);
      }

      .search__icon {
        width: calc(20vw/3.9);
        height: calc(20vw/3.9);
      }
}

@media screen and (min-width: 768px) {
  header .search {
    width: calc(548vw/14.4);
  }
  
  header .search,
  header .search__button {
    height: calc(42vw/14.4);
  }
  
  header .search__icon {
    width: calc(20vw/14.4);
    height: calc(20vw/14.4);
  }
}