.product__search {
    display: flex;
    flex-direction: row;
    padding: calc(40vw/14.4) calc(150vw/14.4);
    background-color: #F4F4F3;
    justify-content: space-between;
    align-items: center;
}

.product__search_title {
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(24vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    text-align: right;
    vertical-align: middle;
    color: #A9A9A9;
}

.product {
    display: flex;
    flex-direction: column;
    padding: calc(60vw/14.4) calc(150vw/14.4) calc(80vw/14.4);
    gap: calc(60vw/14.4);
}

.product__title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: calc(10vw/14.4);

    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(44vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #141313;
}

.product__name {
    padding: calc(10vw/14.4);
    gap: calc(10vw/14.4);
}

.sku {
    width: 320;
    height: 73;
    gap: calc(10vw/14.4);
    padding: calc(10vw/14.4) calc(15vw/14.4);
    border-radius: calc(8vw/14.4);
    background: #F4F4F3;
}

.product__image {
    border-radius: calc(8vw/14.4);
    border: calc(1vw/14.4) solid #E1E4ED;
    width: calc(357vw/14.4);
    height: calc(371vw/14.4);
    object-fit: cover;
}

.product__wrapper {
    display: flex;
    flex-direction: row;
    gap: calc(20vw/14.4);
}

.product__inner {
    display: flex;
    flex-direction: column;
    padding-top: calc(10vw/14.4);
    gap: calc(40vw/14.4);
}

.count {
    display: flex;
    flex-direction: row;
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(16vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
}

.in_stock {
    gap: calc(10vw/14.4);
    padding: calc(10vw/14.4) calc(15vw/14.4);
    border-radius: calc(8vw/14.4);
    background: #E7FFDE;
    border: calc(.5vw/14.4) solid #00810D;
    color: #00810D;
}

.out_of_stock {
    gap: calc(10vw/14.4);
    padding: calc(10vw/14.4) calc(15vw/14.4);
    border-radius: calc(8vw/14.4);
    background: #FFDEDE;
    border: calc(.5vw/14.4) solid #810000;
    color: #810000;
}

.product__data {
    display: flex;
    flex-direction: row;
    width: calc(751vw/14.4);
    /* height: 391; */
    gap: calc(20vw/14.4);
    border-radius: calc(8vw/14.4);
    padding: calc(10vw/14.4);
    background: #F4F4F3;
}

.specifications {
    display: flex;
    flex-direction: column;
    width: calc(354vw/14.4);
    gap: calc(12vw/14.4);
    padding-top: calc(10vw/14.4);
}

.specifications._mobile {
    display: none;
}

.specifications__title {
    display: flex;
    flex-direction: row;
    gap: calc(10vw/14.4);
    padding: calc(5vw/14.4) calc(10vw/14.4);
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(20vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.specifications__inner {
    display: flex;
    flex-direction: column;
    gap: calc(6vw/14.4);
}

.specification {
    padding-bottom: calc(11vw/14.4);
    border-bottom: calc(1.5vw/14.4) solid #E1E4ED;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.specification__name {
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(16vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #A9A9A9;
    padding-left: calc(10vw/14.4);
}

.specification__value {
    font-family: var(--font-gilroy);
    font-weight: 400;
    font-size: calc(16vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    padding-right: calc(10vw/14.4);
}

.specification__value a {
    color: #000000;
    text-decoration: none;
}

.about {
    display: flex;
    flex-direction: column;
    gap: calc(30vw/14.4);
}

.about__title {
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(20vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #141313;
}

.about__description {
    font-family: var(--font-gilroy);
    font-weight: 400;
    font-size: calc(16vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #141313;

}

.selling__data {
    display: flex;
    flex-direction: column;
    gap: calc(20vw/14.4);
}

.selling__brand {
    display: flex;
    flex-direction: row;
    gap: calc(12vw/14.4);
}

.selling__brand_name {
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(20vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    color: #141313;
}

.selling__brand_value,
.selling__brand_value a {
    font-family: var(--font-gilroy);
    font-weight: 400;
    font-size: calc(20vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    color: #A9A9A9;
    text-decoration: none;
}

.selling__delivery {
    display: flex;
    flex-direction: row;
    gap: calc(12vw/14.4);
}

.selling__delivery_name {
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(20vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    color: #141313;
}

.selling__delivery_value {
    font-family: var(--font-gilroy);
    font-weight: 400;
    font-size: calc(20vw/14.4);
    line-height: 120%;
    letter-spacing: -2%;
    color: #A9A9A9;
}

.selling__price {
    display: flex;
    flex-direction: row;
    gap: calc(12vw/14.4);
    align-items: end;
}

.selling__price_name {
    display: flex;
    flex-direction: row;
    gap: calc(10vw/14.4);
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(20vw/14.4);
    line-height: calc(20vw/14.4);
    letter-spacing: -2%;
    color: #141313;
    vertical-align: middle;
}

.selling__price_value {
    display: flex;
    flex-direction: row;
    gap: calc(10vw/14.4);
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: calc(40vw/14.4);
    line-height: calc(32vw/14.4);
    letter-spacing: -2%;
    color: #141313;
}

@media screen and (max-width: 767px) {
   .product__search {
        flex-direction: column;
        padding: calc(30vw/3.9) calc(24vw/3.9);
        gap: calc(20vw/3.9);
    }

    .product__search_title {
        font-family: var(--font-gilroy);
        font-weight: 400;
        font-size: calc(20vw/3.9);
        text-align: center;
    }

    .product {
        display: flex;
        flex-direction: column;
        padding: calc(60vw/3.9) calc(24vw/3.9);
        gap: calc(40vw/3.9);
    }

    .product__title {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: start;
        gap: calc(10vw/3.9);

        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(24vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        vertical-align: middle;
        color: #141313;
    }

    .product__name {
        padding: calc(5vw/3.9) 0;
        gap: calc(10vw/3.9);
    }

    .sku {
        width: 320;
        height: 73;
        gap: calc(10vw/3.9);
        padding: calc(5vw/3.9) calc(10vw/3.9);
        border-radius: calc(8vw/3.9);
        background: #F4F4F3;
    }

    .product__image {
        border-radius: calc(8vw/3.9);
        border: calc(1vw/3.9) solid #E1E4ED;
        width: calc(342vw/3.9);
        height: calc(355vw/3.9);
        object-fit: cover;
    }

    .product__wrapper {
        display: flex;
        flex-direction: column;
        gap: calc(20vw/3.9);
    }

    .product__inner {
        display: flex;
        flex-direction: column;
        padding-top: calc(10vw/3.9);
        gap: calc(40vw/3.9);
    }

    .count {
        display: flex;
        flex-direction: row;
        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(16vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        vertical-align: middle;
    }

    .in_stock {
        gap: calc(10vw/3.9);
        padding: calc(10vw/3.9) calc(15vw/3.9);
        border-radius: calc(8vw/3.9);
        background: #E7FFDE;
        border: calc(.5vw/3.9) solid #00810D;
        color: #00810D;
    }

    .out_of_stock {
        gap: calc(10vw/3.9);
        padding: calc(10vw/3.9) calc(15vw/3.9);
        border-radius: calc(8vw/3.9);
        background: #FFDEDE;
        border: calc(.5vw/3.9) solid #810000;
        color: #810000;
    }

    .product__data {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 391; */
        gap: calc(20vw/3.9);
        border-radius: calc(8vw/3.9);
        padding: 0;
        background: #fff;
    }

    .specifications {
        display: none;
        flex-direction: column;
        width: calc(354vw/3.9);
        gap: calc(12vw/3.9);
        padding-top: calc(10vw/3.9);
    }

    .specifications._mobile {
        display: flex;
        background: #F4F4F3;
        border-radius: calc(8vw/3.9);
        padding: calc(10vw/3.9);
    }

    .specifications__title {
        display: flex;
        flex-direction: row;
        gap: calc(10vw/3.9);
        padding: calc(5vw/3.9) calc(10vw/3.9);
        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(20vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .specifications__inner {
        display: flex;
        flex-direction: column;
        gap: calc(6vw/3.9);
    }

    .specification {
        padding-bottom: calc(11vw/3.9);
        border-bottom: calc(1.5vw/3.9) solid #E1E4ED;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .specification__name {
        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(16vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        vertical-align: middle;
        color: #A9A9A9;
        padding-left: calc(10vw/3.9);
    }

    .specification__value {
        font-family: var(--font-gilroy);
        font-weight: 400;
        font-size: calc(16vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        vertical-align: middle;
        padding-right: calc(10vw/3.9);
    }

    .about {
        display: flex;
        flex-direction: column;
        gap: calc(30vw/3.9);
    }

    .about__title {
        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(20vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        vertical-align: middle;
        color: #141313;
    }

    .about__description {
        font-family: var(--font-gilroy);
        font-weight: 400;
        font-size: calc(16vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        vertical-align: middle;
        color: #141313;

    }

    .selling__data {
        display: flex;
        flex-direction: column;
        gap: calc(20vw/3.9);
    }

    .selling__brand {
        display: flex;
        flex-direction: row;
        gap: calc(12vw/3.9);
    }

    .selling__brand_name {
        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(20vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        color: #141313;
    }

    .selling__brand_value {
        font-family: var(--font-gilroy);
        font-weight: 400;
        font-size: calc(20vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        color: #A9A9A9;

    }

    .selling__delivery {
        display: flex;
        flex-direction: row;
        gap: calc(12vw/3.9);
    }

    .selling__delivery_name {
        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(20vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        color: #141313;
    }

    .selling__delivery_value {
        font-family: var(--font-gilroy);
        font-weight: 400;
        font-size: calc(20vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        color: #A9A9A9;
    }

    .selling__price {
        display: flex;
        flex-direction: row;
        gap: calc(12vw/3.9);
        align-items: end;
    }

    .selling__price_name {
        display: flex;
        flex-direction: row;
        gap: calc(10vw/3.9);
        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(20vw/3.9);
        line-height: calc(20vw/3.9);
        letter-spacing: -2%;
        color: #141313;
        vertical-align: middle;
    }

    .selling__price_value {
        display: flex;
        flex-direction: row;
        gap: calc(10vw/3.9);
        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(40vw/3.9);
        line-height: calc(32vw/3.9);
        letter-spacing: -2%;
        color: #141313;
    }

    .cart__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: calc(343vw/3.9);
        height: calc(54vw/3.9);
        gap: calc(10vw/3.9);
        border-radius: calc(10vw/3.9);
        padding: 0;
        background: #fff;
        margin-top: calc(5vw/3.9);
        /* cursor: pointer; */
    }

    .cart__button_enabled {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(54vw/3.9);
        background: #C9AC37;
        border: none;
        border-radius: calc(10vw/3.9);
        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(16vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        gap: calc(10vw/3.9);
        cursor: pointer;
    }

    .cart__button_enabled:disabled {
        cursor: default;
    }

    .cart__button_disabled {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(54vw/3.9);
        background: #C9AC37;
        border: none;
        border-radius: calc(10vw/3.9);
        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(16vw/3.9);
        line-height: 120%;
        letter-spacing: -2%;
        gap: calc(10vw/3.9);
    }

    .cart__button input {
        text-align: center;
        width: calc(116vw/3.9);
        height: calc(54vw/3.9);
        gap: calc(10vw/3.9);
        border-radius: calc(10vw/3.9);
        border: calc(1vw/3.9) solid #E1E4ED;

        font-family: var(--font-gilroy);
        font-weight: 500;
        font-size: calc(24vw/3.9);
        line-height: 130%;
        letter-spacing: 0%;
        vertical-align: middle;
        outline: none;

    }

    /* Chrome, Safari, Edge, Opera */
    .cart__button input::-webkit-outer-spin-button,
    .cart__button input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    .cart__button input[type=number] {
    -moz-appearance: textfield;
    }

    .cart__icon {
        width: calc(25vw/3.9);
        height: calc(25vw/3.9);
    }
}