* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  overflow-x: hidden
}

html {
  font-size: calc(1vw/14.4*10);
  overflow-y: scroll;
  scrollbar-width: thin;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%))
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: start
}

.menu {
  display: flex;
  min-width: max-content;
  background: #141313;
  color: #fff;
  gap: 6rem
}

footer .menu {
  flex-direction: column;
  gap: 2rem
}

.menu-submenu {
  display: none
}

.menu__btn,
.menu__link {
  display: flex;
  line-height: 120%;
  gap: 1rem;
  vertical-align: middle;
  align-items: center;
  padding: .6rem 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: .5rem .5rem 0 0;
  background: transparent
}

.menu__btn[aria-expanded="true"] {
  border-radius: .5rem .5rem 0 0;
  background-color: #272626;
  border: none
}

.menu__link:hover,
.menu__btn:hover,
.menu__btn[aria-expanded="true"],
.menu__btn:hover svg,
.menu__btn[aria-expanded="true"] svg,
.menu__btn:hover path,
.menu__btn[aria-expanded="true"] path {
  color: #C9AC37;
  stroke: #C9AC37
}

.menu-submenu .menu__link:hover,
.menu-submenu .menu__btn:hover,
.menu-submenu .menu__btn[aria-expanded="true"] {
  color: #C9AC37
}

.menu__btn-icon {
  color: inherit;
  width: 1.4rem;
  height: 1.4rem
}

.menu-submenu .menu__btn-icon {
  transform: rotate(-90deg)
}

.menu__btn[aria-expanded="true"] .menu__btn-icon {
  transform: rotate(180deg)
}

.menu-submenu .menu__btn[aria-expanded="true"] .menu__btn-icon {
  transform: rotate(90deg)
}

.menu__item {
  position: relative
}

#catalog-submenu {
  max-height: 22rem
}

#about-submenu {
  border-radius: 0 0 .5rem .5rem
}

.menu__link {
  text-decoration: none
}

a[aria-current="page"] {
  font-weight: 500;
  color: #fff
}

.menu .menu {
  position: absolute;
  gap: 0 1rem;
  padding: 1rem 0;
  width: 100%;
  background-color: #272626;
  border: 0;
  border-radius: 0 .5rem .5rem .5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, auto);
  grid-template-rows: repeat(4, auto);
  grid-auto-rows: 0;
  grid-auto-flow: column dense
}

.menu .menu .menu__item:nth-child(4n+1) {
  margin-bottom: .5rem
}

.menu .menu .menu__item:nth-child(4n+2),
.menu .menu .menu__item:nth-child(4n+3) {
  margin-top: .5rem;
  margin-bottom: .5rem
}

.menu .menu .menu__item:nth-child(4n+4) {
  margin-top: .5rem
}

.menu .menu .menu__item:last-child {
  margin-bottom: 0 !important
}

.menu-submenu .menu__item {
  display: block
}

.menu[hidden] {
  display: none
}

.logo {
  width: max-content
}

header .logo img {
  width: 20.3rem;
  height: auto
}

footer .logo img {
  width: 29.1rem;
  height: auto
}

.text {
  font-weight: 400;
  font-size: 1.8rem
}

.swiper {
  display: flex;
  width: 103.2rem;
  height: 36rem
}

.swiper-button-prev,
.swiper-button-next {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 4.4rem !important;
  height: 4.4rem !important;
  border: none;
  border-radius: 2.2rem;
  background-color: #FFF
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: .8rem !important;
  height: 1.5rem !important
}

.swiper-button-prev {
  left: -5.4rem !important
}

.swiper-button-next {
  right: -5.4rem !important
}

.swiper-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.6rem !important
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #B3B3B3;
  opacity: .4;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin: 0 !important
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #141313;
  opacity: 1
}

.swiper .swiper-slide {
  height: 28.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.swiper-button-next,
.swiper-button-prev {
  top: 40% !important
}

.spline-watermark {
  display: none !important
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

body:has(dialog[open]) {
  height: 100vh;
  overflow: hidden;
}

dialog::backdrop {
  background: rgba(126, 126, 126, .5);
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  border: none;
  border-radius: .8rem;
}

dialog > div.feedback {
  width: 61rem;
}

/* Закрытие при клике на backdrop */
/* dialog:modal {
  pointer-events: none;
}
dialog:modal > * {
  pointer-events: auto;
} */

@media screen and (max-width: 767px) {
  html {
    font-size: calc(1vw/3.9*10)
  }

  .menu {
    display: flex;
    min-width: max-content;
    background: #141313;
    color: #fff;
    gap: 6rem
  }

  .site_nav_mobile .menu {
    flex-direction: column
  }

  .menu-submenu {
    display: none
  }

  .menu__btn {
    padding: 1.5rem 0;
    width: 100%;
    justify-content: space-between
  }

  .menu__btn[aria-expanded="true"] {
    border-radius: .5rem .5rem 0 0;
    background-color: #141313;
    border: none
  }

  .menu__link:hover,
  .menu__btn:hover,
  .menu__btn[aria-expanded="true"],
  .menu__btn:hover svg,
  .menu__btn[aria-expanded="true"] svg,
  .menu__btn:hover path,
  .menu__btn[aria-expanded="true"] path {
    color: #C9AC37;
    stroke: #C9AC37
  }

  .menu-submenu .menu__link:hover,
  .menu-submenu .menu__btn:hover,
  .menu-submenu .menu__btn[aria-expanded="true"] {
    color: #C9AC37
  }

  .menu__btn-icon {
    color: inherit;
    width: 1.4rem;
    height: 1.4rem
  }

  .menu-submenu .menu__btn-icon {
    transform: rotate(-90deg)
  }

  .menu__btn[aria-expanded="true"] .menu__btn-icon {
    transform: rotate(180deg)
  }

  .menu-submenu .menu__btn[aria-expanded="true"] .menu__btn-icon {
    transform: rotate(90deg)
  }

  .menu__item {
    position: relative
  }

  #catalog-submenu {
    max-height: max-content;
    height: 100%
  }

  #about-submenu {
    border-radius: 0 0 .5rem .5rem
  }

  .menu__link {
    line-height: 120%;
    text-decoration: none;
    padding: 1rem 0 1rem 2rem
  }

  a[aria-current="page"] {
    font-weight: 500;
    color: #fff
  }

  .menu-submenu .menu__item {
    display: block
  }

  .menu[hidden] {
    display: none
  }

  .menu.menu_submenu {
    flex-direction: column;
    gap: 0;
    overflow-y: auto;
    max-height: max-content;
    height: 100%
  }

  .logo {
    width: max-content
  }

  header .logo img {
    width: 20.3rem;
    height: auto
  }

  footer .logo img {
    width: 15.9rem !important;
    height: auto
  }

  .text {
    font-weight: 400;
    font-size: 1.4rem
  }

  .swiper {
    display: flex;
    width: 34.2rem;
    height: 40rem
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
    align-items: center !important;
    justify-content: center !important;
    width: 4.4rem !important;
    height: 4.4rem !important;
    border: none;
    border-radius: 2.2rem;
    background-color: #FFF
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: none !important
  }

  .swiper-button-prev svg,
  .swiper-button-next svg {
    width: .8rem !important;
    height: 1.5rem !important
  }

  .swiper-button-prev {
    left: -5.4rem !important
  }

  .swiper-button-next {
    right: -5.4rem !important
  }

  .swiper-pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.6rem !important
  }

  .swiper-pagination .swiper-pagination-bullet {
    background-color: #B3B3B3;
    opacity: .4;
    width: 1rem !important;
    height: 1rem !important;
    margin: 0 !important
  }

  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #141313;
    opacity: 1
  }

  .swiper .swiper-slide {
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 40% !important
  }

  .spline-watermark {
    display: none !important
  }
}