.hero {
  display: flex;
  flex-direction: column;
  background-color: #141313;
  padding: 11.4583vw calc(150vw/14.4) 11.1111vw;
  width: 100vw;
  align-items: center;
}

.title {

  font-weight: 500;
  color: #ffffff;
  font-size: calc(44vw/14.4);
  line-height: calc(52.5vw/14.4);
  letter-spacing: calc(-.9vw/14.4);
  vertical-align: middle;
  margin-bottom: calc(61vw/14.4);
}

.search {
  margin-bottom: calc(117vw / 14.4);
}

.spares {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100vw;
  padding: calc(100vw/14.4) calc(150vw/14.4);
  align-items: center;
  gap: calc(60vw/14.4);
}

.spares__inner {
  display: flex;
  flex-direction: column;
  gap: calc(20vw/14.4);
  align-items: center;
}

.assortment {
  display: flex;
  flex-direction: column;
  padding: calc(60vw/14.4) calc(150vw/14.4);
  /* align-items: center; */
  gap: calc(60vw/14.4);
}

.opt {
  display: flex;
  flex-direction: column;
  padding: calc(60vw/14.4) calc(150vw/14.4);
  /* align-items: center; */
  gap: calc(60vw/14.4);
}

.opt__inner {
  display: flex;
  flex-direction: row;
  gap: calc(60vw/14.4);
}

.articles {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100vw;
  padding: calc(100vw/14.4) calc(150vw/14.4);
  gap: calc(80vw/14.4);
}

.articles__inner {
  display: flex;
  flex-direction: row;
  gap: calc(40vw/14.4);
}

.article__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: calc(20vw/14.4);
}

.article.article_preview {
  width: calc(353vw/14.4);
}

.article__meta {
  color: rgba(166, 166, 166, 1);

  font-weight: 700;
  font-size: calc(16vw/14.4);
  text-align: left;
}

.article__title.article__title_small {
  color: rgba(20, 19, 19, 1);

  font-weight: 700;
  font-size: calc(18vw/14.4);
  text-align: left;
}

.article__content {

  font-weight: 400;
  font-size: calc(16vw/14.4);
  color: rgba(20, 19, 19, 1);
  text-align: left;
}

@media screen and (max-width: 767px) {
  .hero {
    display: flex;
    flex-direction: column;
    background-color: #141313;
    padding: calc(120vw/3.9) calc(24vw/3.9);
    width: 100vw;
    align-items: center;
  }

  .title {

    font-weight: 500;
    color: #ffffff;
    font-size: calc(28vw/3.9);
    line-height: calc(33.6vw/3.9);
    letter-spacing: calc(-.9vw/3.9);
    vertical-align: middle;
    margin-bottom: calc(40vw/3.9);
  }

  .search {
    margin-bottom: calc(100vw / 3.9);
  }

  .spares {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100vw;
    padding: calc(60vw/3.9) calc(24vw/3.9);
    align-items: center;
    gap: calc(60vw/3.9);
  }

  .spares__inner {
    display: flex;
    flex-direction: column;
    gap: calc(20vw/3.9);
    align-items: center;
  }

  .assortment {
    display: flex;
    flex-direction: column;
    padding: calc(60vw/3.9) calc(24vw/3.9);
    /* align-items: center; */
    gap: calc(60vw/3.9);
  }

  .opt {
    display: flex;
    flex-direction: column;
    padding: calc(60vw/3.9) calc(24vw/3.9);
    /* align-items: center; */
    gap: calc(14vw/3.9);
  }

  .opt__inner {
    display: flex;
    flex-direction: column;
    padding-top: calc(46vw/3.9);
    gap: calc(14vw/3.9);
  }

  .articles {
    /* display: none; */
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100vw;
    padding: calc(60vw/3.9) calc(24vw/3.9);
    gap: calc(40vw/3.9);
  }

  .articles__inner {
    display: flex;
    flex-direction: column;
    gap: calc(40vw/3.9);
  }

  .article__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: calc(20vw/3.9);
  }

  .article.article_preview {
    width: calc(353vw/3.9);
  }

  .article__meta {
    color: rgba(166, 166, 166, 1);

    font-weight: 700;
    font-size: calc(14vw/3.9);
    text-align: left;
  }

  .article__title.article__title_small {
    color: rgba(20, 19, 19, 1);

    font-weight: 700;
    font-size: calc(16vw/3.9);
    text-align: left;
  }

  .article__content {

    font-weight: 400;
    font-size: calc(14vw/3.9);
    color: rgba(20, 19, 19, 1);
    text-align: left;
  }
}