.reviews {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F3;
    width: 100vw;
    padding: calc(100vw/14.4) 10.5vw;
    align-items: center;
    gap: calc(60vw/14.4);
  }

  .reviews__description {
      font-family: var(--font-gilroy), sans-serif;
      font-weight: 400;
      font-size: calc(18vw/14.4);
      text-align: center;
      max-width: calc(700vw/14.4);
  }



  .swiper__container {
    position: relative;
    max-width: 100vw;
  }

  .review {
    background-color: #FFFFFF;
    border: calc(1vw/14.4) solid #F4F4F3;
    border-radius: calc(8vw/14.4);
    padding: calc(24vw/14.4) calc(24vw/14.4) calc(27vw/14.4);
    box-shadow: 0 calc(1vw/14.4) calc(4vw/14.4) 0 rgba(75, 75, 75, 0.08);
  }

  .review__text {
    font-family: var(--font-gilroy), sans-serif;
    font-weight: 400;
    font-size: calc(16vw/14.4);
    color: #6D758F;
    text-align: left;
  }

  .review__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(12vw/14.4);
  }

  .review__avatar {
    width: calc(48vw/14.4);
    height: calc(48vw/14.4);
  }

  .review__name {
    font-family: var(--font-gilroy), sans-serif;
    font-weight: 700;
    font-size: calc(16vw/14.4);
    color: #141313;
    text-align: left;
  }