.faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(40vw/3.9) calc(24vw/3.9);
    gap: calc(40vw/3.9);
    background-color: #F4F4F3;
}

.faqs__inner {
    display: flex;
    flex-direction: column;
    gap: calc(2vw/3.9);
}

